@font-face {
    font-family: happyFont;
    src: url("Happy New One.ttf");
}

/*@font-face {
    font-family: colporteurFont;
    src: url("DK Colporteur Fat.otf");
}*/

body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: happyFont, "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
    font-size: 30px;
}

footer {
	font-style: italic;
	/*font-size: 90%;*/
}